/MyTunes/nbproject/private/
/MyTunes/nbproject/
/MyTunes/nbproject/private/
/MyTunes/build/
/MyTunes/nbbuild/
/MyTunes/dist/
/MyTunes/nbdist/
/MyTunes/.nb-gradle/
*.html
MyTunes/dist/MyTunes.html
*.jar
MyTunes/dist/MyTunes.jnlp
*.xml
MyTunes/nbproject/jfx-impl_backup_2.xml
*.xml
MyTunes/nbproject/UPDATED.TXT